@import "react-alice-carousel/lib/scss/alice-carousel.scss";

.body {
  margin: 0px auto;
  min-height: 100vh !important;
  background-color: #adb5bd !important;
}

.map {
  width: 300px;
  height: 300px;
}

.slick-slide img {
  margin: auto;
}

.marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 100%;
  user-select: none;
  transform: translate(-50%, -50%);
  &:hover {
    z-index: 1;
  }
}

.dashboard {
  width: 70%;
  float: right;
  .profile-posts {
    border: 1px solid #e3e3e3;
    border-style: solid;
    .posts {
      float: left;
      color: rgb(56, 56, 56);
      text-decoration: none;
      border: 1px solid #e3e3e3;
      border-radius: 10px;
      width: 50%;
    }
    .delBtn {
      width: 30%;
      float: right;
    }
    .posts:hover {
      background-color: #007bff25;
    }
  }
}

.vertical-center {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.profile-menu {
  width: 30%;
  float: left;
}

.dashboard-homepage {
  margin: 0px;
  width: 80%;
  .posts {
    color: rgb(56, 56, 56);
    text-decoration: none;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
  }
  .posts:hover {
    background-color: #007bff25;
  }
}

.imgPreview {
  max-width: 200;
  max-height: 200;
}

.previous_page {
  margin-right: 30px;
  border: 1px solid #e3e3e3;
  border-radius: 40px;
  text-decoration: none;
}

.previous_page:hover {
  text-decoration: none;
}

.next_page {
  margin: 30px;
  min-width: 30%;
  border: 1px solid #e3e3e3;
  border-radius: 30px;
  text-decoration: none;
}

.next_page:hover {
  text-decoration: none;
}

.pagination {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;

  width: 30%;
}
.left {
  float: left;
}
.right {
  float: right;
}

.skeleton-loading {
  display: inline-block;
  height: 100%;
  width: 100%;
  background: linear-gradient(-90deg, #f0f0f0 0%, #f8f8f8 50%, #f0f0f0 100%);
  background-size: 400% 400%;
  animation: pulse 1.2s ease-in-out infinite;
  @keyframes pulse {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: -135% 0%;
    }
  }
}

@keyframes open {
  0% {
    background-position: 166% -25%, 220% -69%;
  }
  100% {
    background-position: 120% -5%, 200% -40%;
  }
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentContainer {
  overflow-y: scroll;
}

.mapContainer {
  right: 0;
  position: fixed;
}

.field {
  margin: 5px;
  display: flex;
  flex-direction: column;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  padding: 2px;
  cursor: pointer;
  background: linear-gradient(270deg, #3fa1a9, #79f1a4);
}

.img-wrap {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.img-upload:hover {
  //content: "\f093";
  //font-size: 90px;
  //position: absolute;
  //padding-top: 80px;
  // top: 50%;
  // left: 50%;
  //transform: translate(-50%, -50%);
  //color: #63d3a6;
  //border-radius: 50%;
  opacity: 0.5;
  transition: 0.5s ease;
  background-color: #fff;
}
.img-upload:hover:before {
  opacity: 1;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

input {
  border-radius: 15px;
  border: 1px solid #b7b7b7;
  padding: 5px 5px 5px 10px;
  font-size: 18px;
  transition: 0.2s;
}
input:focus {
  outline: none;
  border: 1px solid #64d488;
}
input::placeholder {
  color: #bebebe;
}
.name {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #676767;
  max-width: 220px;
  overflow-wrap: break-word;
}
.status {
  text-align: center;
  max-width: 220px;
  overflow-wrap: break-word;
}

.save {
  font-weight: 600;
  left: -20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 20px;
  box-shadow: 20px 0px 40px 0px #63d3a6;
}
.edit {
  color: #fff;
  width: 180px;
}

button:focus {
  outline: none;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

.fa-instagram {
  position: absolute;
  color: #79f1a4;
  top: 3%;
  right: 2%;
  font-size: 38px;
}
.fa-instagram:hover {
  font-size: 42px;
  color: #caff81;
  transition: all 0.1s linear;
  cursor: pointer;
}
